.DS_Store

wallpaper

# vim
vim/.netrwhist
vim/.netrwbook
vim/init.vim

# emacs
emacs.d/auto-save-list/
emacs.d/custom.el
emacs.d/elpa
emacs.d/places
emacs.d/projectile*
emacs.d/recentf
emacs.d/tramp
